<h1>Welcome to your Address Book!</h1>

Enter contact information:
</br>
</br>
<form action= "/contacts/create" method="POST">
  Given Name:</br>
  <input type="text" name="given_name" placeholder="Given name"/></br></br>
  Family Name:</br>
  <input type="text" name="family_name" placeholder="Family name"/></br></br>
  Email Address:</br>
  <input type="text" name="email" placeholder="Email address"/></br></br>
  Home Address:</br>
  <input type="text" name="address" placeholder="Home address"/></br></br>
  <input type="submit" value="submit"/>
</form>

</br>
<a href="/contacts"><button>Show Contacts</button></a>
