<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<h2>Create Contact</h2>

<h4><%= flash[:alert] %></h4>
<form action= "/contacts/create" method="post">
  Given Name:</br>
  <input type="text" name="given_name" placeholder="Given name"/></br></br>
  Family Name:</br>
  <input type="text" name="family_name" placeholder="Family name"/></br></br>
  Email Address:</br>
  <input type="text" name="email" placeholder="Email address"/></br></br>
  Home Address:</br>
  <input type="text" name="address" placeholder="Home address"/></br></br>
  <input type="submit" value="submit"/>
</form>



</br></br>
<a href="/contacts"><button>Address Book</button></a>
